# IntelliJ IDEA project
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse project files
.classpath
.project
.settings/

# OS auto gen folder information
.DS_Store
Thumbs.db

# Temp files
*.bak
*.swp
*.tmp
*.temp
*.*~
~*.*
